
* {
  box-sizing: border-box;
}

.free-time{
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  font-weight: bold;
}

.free-block{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100px;
  line-height: 100px;
  width: 30vw;
  border: 3px solid black;
  padding: 10px;
}

.free-timer{
  height: 60px;
  line-height: 60px;
  display: block;
  text-align: center;
  font-size: 60px;
  width: 40%;
  border-style: none;
  background-color: white;
  color: black;
}

.free{
  font-weight: bold;
  font-size: 30px;
  margin: 0 10px;
}

.free-box{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.min-sec{
  display: flex;
  justify-content: center;
}

.add-btn{
  margin: 5px 5px 0 0;
  font-size: 20px;
  color: black;
  background-color: #DCC2FF;
  border-bottom: 5px solid #9057FF;
}

#free-start{
  display: block;
  font-size: 30px;
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}

#free-stop{
  display: block;
  margin: 0 10px;
  font-size: 30px;
  color: #b84c00;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}

#free-reset{
  display: block;
  font-size: 30px;
  color: #b84c00;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}

#count-memo{
  font-size: 20px;
  font-weight: bold;
  color: red;
  padding: 0 5px;
}

.free-time{
  margin: 0 auto;
}
footer{
    background-color: #303f9f;
  color: #fff;
  list-style: none;
  position: absolute;
  bottom: 0;
  right: 0px;
  left: 0px;
}
footer a{
  color:white;
}
@media max-height:100px{
  footer{
    display:none;
  }
}